.navbar p {
    color: darkgray;
    padding-left: 15%;
}
    /* Стили панели навигации при наведении мышью */
    .navbar p:hover {
        color: aliceblue;
    }

header, body, footer, .video-container {
    background-color: #23E3C9;
}

header {
    color: black;
    padding-left: 1%;
    padding-top: 1.2%;
    position: relative;
}

#header-index {
    color: #44453f;
}

.video-container {
    display: inline-block;
    padding-left: 1%;
    padding-top: 1%;
}

.navbar {
    color: darkgray;
    padding-left: 15%;
}

header {
    padding-left: 1%;
    padding-top: 1.2%;
}

footer {
    position: absolute;
    bottom: 0;
    font-size: medium;
    color: dimgrey;
    line-height: 66%;
    padding-left: 1%;
}

aside {
    height: 100%; /* Высота в полный размер. Этот параметр можно убрать, если вы хотите выставлять высоту автоматически */
    width: 10%;
    position: absolute; /* Фиксированная позиция сайд-бара. Так он будет оставаться на месте при скроллинге */
    z-index: 1; /* Сайд-бар будет поверх остальных элементов */
    top: 0; /* Сайдбар будет в самой верхней части страницы */
    left: 0;
    background-color: #111; /* Черный цвет фона (задан в виде кода) */
    overflow-x: hidden; /* Отключаем горизонтальную прокрутку */
    padding-top: 2%;
    font-size: large;
}

body {
    padding-left: 11%;
}

.forma {
    color: red;
    position: absolute;
    top: 45px;
    right: 50px;
}

    .forma:hover {
        background: green;
    }
input {
    color: red;
    margin-left: 10px;
    width: 400px;
    height: 30px;
    margin-left: 17px;
}
.review-container, .review-button {
    display: inline-block;
    margin-top: 0.5em;
    padding-left: 1%;
    padding-top: 1%;
}

.carousel {
    position: relative;
    text-align:center;
    
}

.items-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.item {
    display: none;
    position: relative;
    animation: 0.5s ease-in-out;
    margin: 0 auto;
}

.active,
.next {
    display: block;
}

.next {
    position: absolute;
    top: 0;
    width: 100%;
}

.description {
    margin: 30px 20%;
    font-size: 32px;
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
}

.project-name {
    padding: 10px;
}

.control {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 15%;
    cursor: pointer;
}

    .control.left {
        left: 0;
        right: auto;
    }

    .control.right {
        right: 0;
        left: auto;
    }

.arrow {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 84px;
}

    .arrow.right {
        right: 50%;
    }

.to-left {
    animation-name: left;
}

.from-right {
    animation-name: right;
}

.to-right {
    animation-name: right;
    animation-direction: reverse;
}

.from-left {
    animation-name: left;
    animation-direction: reverse;
}

@keyframes left {
    from {
        left: 0;
    }

    to {
        left: -100%;
    }
}

@keyframes right {
    from {
        left: 100%;
    }

    to {
        left: 0;
    }
}

@media (max-width: 960px) {
    .description {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 640px) {
    .control > .arrow {
        display: none;
    }

    .project-name {
        display: none;
    }

    .description {
        border: 0;
    }
}