<div class="carousel">
    <div class="items-container">
        <div class="item active">
                <img class="project-image" src="../../Img/london.jpg" alt="project">
        </div>
        <div class="item">
                
                <img class="project-image" src="../../Img/ny.jpg" alt="project">
        </div>
        <div class="item">                
                <img class="project-image" src="../../Img/spb.jpg" alt="project">
        </div>
    </div>
    <div class="control left">
        <div class="arrow left">&lt;</div>
    </div>
    <div class="control right">
        <div class="arrow right">&gt;</div>
    </div>
</div>
<script type="text/javascript" src="../Static/JS/slider.js"></script>